:root {
    --buttonColor: white;
    --buttonBackground: #6B38FB;
}

.summarizer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.modeButtons {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 19%;
    gap: 12px;
}

.modeLabel {}

.button {
    color: var(--buttonColor) !important;
    background-color: var(--buttonBackground) !important;
    opacity: 0.7;
}

.button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    opacity: 0.7;
}

.button:hover {
    transition: 0.3s;
    opacity: 1;
    color: var(--buttonColor) !important;
    background-color: var(--buttonBackground) !important;
}

.inputs {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1%;
}

.inputWrap input,
textarea {
    width: 100% !important;
    height: 100% !important;
}

.inputWrap,
.outputWrap {
    width: 40%;
    height: 240px;
}